<h2>Edit Book</h2>
<form action="/books/<%= book.id %>?_method=PUT" method="POST">
  <!-- this is used after multer installing. 
  this tell that form can be used on multiple platforms to save data. -->
  <%- include('form_fields') %>
  <a href="/books">Cancel</a>
  <button type="submit">Update</button>
</form>
